<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main class="reportindex">
    <div>
      <h3 class="reporttitle">Latest River Reports</h3>
      <br />
      <p class= "reporttext">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> - indicates a newly reported river hazard
      </p>
      <div class="reports well">
      <ul>
      <% reports.forEach(function(report) { %>
        <li>
        <h3>
          <!--<form method="POST" action="/reports/<%= report._id %>?_method=DELETE">-->
            <a href="/reports/<%= report._id %>">
              <%= report.title %>
            </a>
              <% if (report.hazard) { %> <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
              <% } else { %> <!--<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>--> <% } %>
              <br /><h5><%=report.reach %></h5>

            <h5><%= report.date %></h5>
            <!--<a href="/reports/<%= report._id %>/edit" class="btn btn-warning btn-xs">Edit</a>
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>-->
          </form>
        </h3>
        </li>
        <br />
      <% }) %>
      </ul>
    </div>
    </div>
    <br />
      <% if (currentUser) { %>
        <a href="/userreports/new" class="btn btn-primary newbutton">Create a new Report</a>
      <% } else { %>
        <a href="/login" class="btn btn-primary newbutton">Log in to create a Report!</a>
      <% } %>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
