<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main class="reportindex">
    <div>
      <h3 class="sub">Profile: <!--<%= currentUser.name.first %> <%= currentUser.name.last %>--></h3>

      <div class="reportbody well">
        <!--<p><b>ID: </b><%= story._id %></p>
        <p><b>Email: </b><%= currentUser.local.email %></p>
        <p><b>Location: </b><%= currentUser.hometown %></p>
        <p><b>Favorite River: </b><%= currentUser.favoriteRiver %></p>
        <p><b>Friends: </b><%= currentUser.friends %></p>
      </div>
      <br />-->
      <div class="story well">
        <p><b>Reports: </b><%= currentUser.reports %></p>
        <p><b>Stories: </b><%= currentUser.stories %></p>
      </div>



    </div>
    <br />
    <a href="/stories/<%= story._id %>/edit" class="btn btn-danger btn-sm">Edit</a>
    <a href="/stories" class="btn btn-primary btn-sm">Back</a>

  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
