<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main class="reportindex">
    <div>
      <h1 class="sub storytitle">River Stories</h1>
      <div class="stories well">
      <ul>
      <% stories.forEach(function(story) { %>
        <li>
        <h3>
          <form method="POST" action="/stories/<%= story._id %>?_method=DELETE">
            <a href="/stories/<%= story._id %>">
              <%= story.title + '       by: ' + story.author %>
            </a>
        </h3>
        <h4></h4>
              <br />
              <%= story.river %> &nbsp&nbsp&nbsp&nbsp<%= story.date %>
            <br />
            <!--<a href="/stories/<%= story._id %>/edit" class="btn btn-warning btn-xs">Edit</a>
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>-->
          </form>
        </h4>
        </li>
        <br />
      <% }) %>
      </ul>
    </div>
    </div>
    <br />
    <% if (currentUser) { %>
      <a href="/userstories/new" class="btn btn-primary newbutton">Write a New Story</a>
    <% } else { %>
      <a href="/login" class="btn btn-primary newbutton">Log in to tell your story!</a>
    <% } %>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
