<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3 class="sub">River Stories</h3>
      <br />
      <div class="stories well">
      <ul>
      <% stories.forEach(function(story) { %>
        <li>
        <h4>
          <form method="POST" action="/stories/<%= story._id %>?_method=DELETE">
            <a href="/stories/<%= story._id %>">
              <%= story.title + '       by: ' + story.author %>
            </a>
            <%= story.date %>
            <br />
            <a href="/stories/<%= story._id %>/edit" class="btn btn-danger btn-xs">Edit</a>
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
        </li>
        <br />
      <% }) %>
      </ul>
    </div>
    </div>
    <br />
    <a href="/stories/new" class="btn btn-primary">New</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
