<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main class="reportindex">
    <div>
      <h3 class="reporttitle">Your River Reports</h3>
      <br />
      <div class="reports well">
      <ul>
      <% reports.forEach(function(report) { %>
        <li>
        <h4>
          <form method="POST" action="/userreports/<%= report._id %>?_method=DELETE">
            <a href="/userreports/<%= report._id %>">
              <%= report.title + ' - ' + report.reach %>
            </a>
            <br />
            <%= report.date %>
            <br /><br />
            <a href="/userreports/<%= report._id %>/edit" class="btn btn-warning btn-xs">Edit</a>
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
        </li>
        <br />
      <% }) %>
      </ul>
    </div>
    </div>
    <br />
    <a href="/userreports/new" class="btn btn-primary newbutton">Create a new Report</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
